---
import Image from "astro/components/Image.astro";
import heroImage from "#assets/images/hero.png";
---

<section
  class="relative h-screen"
  style={{
    backgroundImage: `url(${heroImage.src})`,
    backgroundSize: "cover",
    backgroundPosition: "center",
  }}
>
  <div>
    <span>Olive </span>
    <span>Menorah</span>
  </div>
  <div>
    <span>f</span>
  </div>
</section>
