---

---

<section class="h-screen w-full relative">
  <div
    class="absolute w-full top-0 bg-gradient-to-b from-secondary to-transparent h-28"
  >
  </div>

  <div
    class="pt-32 px-6 flex flex-col items-start gap-8 sm:flex-row sm:justify-center sm:gap-24 sm:items-center xl:gap-44 3xl:gap-52"
  >
    <h1
      class="font-helveticalight bg-secondary text-center text-tertiary rounded-full border-0 w-12 h-12 p-14 sm:w-52 sm:h-52 xl:w-72 xl:h-72 3xl:w-80 3xl:h-80"
    >
      <span
        class="text-3xl sm:text-5xl xl:text-7xl 3xl:text-8xl relative bottom-8 sm:bottom-0 xl:bottom-0 3xl:bottom-0"
        >Inspired Creations</span
      >
    </h1>

    <p
      class="font-helvetica bg-secondary text-tertiary border-0 rounded-lg p-3 text-sm sm:p-6 sm:rounded-xl xl:text-xl xl:p-12 xl:rounded-2xl 3xl:text-2xl 3xl:p-16 3xl:rounded-3xl"
    >
      Building smooth, responsive interfaces that feel effortless to use.
    </p>
  </div>
  <div
    class="pt-10 px-6 flex flex-col items-end gap-8 sm:flex-row-reverse sm:justify-center sm:gap-24 sm:items-center xl:gap-44 3xl:gap-52"
  >
    <h1
      class="font-helveticalight bg-secondary text-tertiary rounded-full border-0 w-12 h-12 p-14 sm:w-52 sm:h-52 xl:w-72 xl:h-72 3xl:w-80 3xl:h-80"
    >
      <span
        class="text-right text-3xl sm:text-5xl xl:text-7xl 3xl:text-8xl relative right-24 bottom-8 sm:bottom-0 xl:bottom-0 3xl:bottom-0"
        >UI/UX Mastery</span
      >
    </h1>

    <p
      class="font-helvetica text-right bg-secondary text-tertiary border-0 rounded-lg p-3 text-sm sm:p-6 sm:rounded-xl xl:text-xl xl:p-12 xl:rounded-2xl 3xl:text-2xl 3xl:p-16 3xl:rounded-3xl"
    >
      Designing meaningful, user-friendly experiences that people love.
    </p>
  </div>
  <div
    class="pt-10 px-6 flex flex-col items-start gap-8 sm:flex-row sm:justify-center sm:gap-24 sm:items-center xl:gap-44 3xl:gap-52"
  >
    <h1
      class="font-helveticalight bg-secondary text-center text-tertiary rounded-full border-0 w-12 h-12 p-14 sm:w-52 sm:h-52 xl:w-72 xl:h-72 3xl:w-80 3xl:h-80"
    >
      <span
        class="text-3xl sm:text-5xl xl:text-7xl 3xl:text-8xl relative bottom-8 sm:bottom-0 xl:bottom-0 3xl:bottom-0"
        >Frontend Finesse</span
      >
    </h1>

    <p
      class="font-helvetica text-left bg-secondary text-tertiary border-0 rounded-lg p-3 text-sm sm:p-6 sm:rounded-xl xl:text-xl xl:p-12 xl:rounded-2xl 3xl:text-2xl 3xl:p-16 3xl:rounded-3xl"
    >
      Creating beautiful, functional websites that make a lasting impression.
    </p>
  </div>
  <div
    class="relative w-full bottom-0 bg-gradient-to-t from-secondary to-transparent h-28"
  >
  </div>
</section>
