---
import type { NavLinkProps } from "./Navlinks.astro";
import Navlinks from "./Navlinks.astro";
import Image from "astro/components/Image.astro";
import logo from "#assets/icons/Logo.png";

const links: NavLinkProps[] = [
  { title: "Works", href: "/works" },
  { title: "About", href: "/about" },
  { title: "Contact", href: "/contact" },
];
---

<nav class="fixed top-0 w-full z-max flex justify-between py-10 px-24">
  <Image src={logo} alt="personal logo" class="w-12 h-12" />
  <div class="flex justify-evenly gap-16 items-center">
    {
      links.map((link) => {
        return <Navlinks title={link.title} href={link.href} />;
      })
    }
  </div>
</nav>
